body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
}

.App-header {
  background-color: #0071bb;
  line-height: 23px;
  color: white;
  padding-top: 35.2px;
  padding-bottom: 25.888px;
  color: #484c51;
}

form {
  color: #484c51;
}

.userForm {
  margin-top: 50px;
}

input {
  margin-top: 4px;
  margin-bottom: 26px;
  color: #484c51;
  width: 235px;
  height: 20px;
}

p {
  text-align: left;
}

.submitButton {
  margin-top: 20px;
  font-size: 16px;
  padding: 6px 16px 6px 16px;
  background-color: #0058a2;
  border-color: #0058a2;
  color: #FFF;
  width: 235px;
  height: 40px;
}

.control-panel-title {
  font-size: large;
  font-weight: bold;
  margin-bottom: 34px;
  color: #484c51;
}

.loaded {
  display: inline-block;
}

.loading {
  display: none;
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 15px;
  height: 15px;
  animation: spin 1.4s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
